{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "src/typeclasses/Apply.ts",
      "options": { "printWidth": 300 }
    },
    {
      "files": [
        "src/helpers/pipe.ts",
        "src/helpers/pipeValue.ts",
        "src/typeclasses/Monad/pipeK.ts",
        "src/typeclasses/Monad/pipeKValue.ts"
      ],
      "options": { "printWidth": 10000 }
    }
  ]
}
